* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a3d47;
    font-family: Verdana;
}

.contenedor {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1551a1;
    padding: 20px;
    img {
        position: relative;
        top: 25px;
        left: 50px;
    }
    nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        tr,td {
            position: relative;
            left: 60px;
            top: -15px;
            border: 1px solid white;
            text-align: center;
            width: 100px;
            height: 50px;
        }
        a {
            width: 100px;
            text-align: center;
            height: 50px;
            color: white;
            text-decoration: none;
        }
    }
}

.img0 {
    width: 1160px;
}

.h2 {
    background-color: white;
    text-align: center;
    color: #ff7600;
}

.tarjetas {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: 500px;
    .card {
        background-color: white;
        width: 100%;
        max-width: 350px;
        max-height: 100%;
        height: 500px;
        border: 2px;
        padding: 10px;
        overflow: auto;
        aspect-ratio: ratio 700px / 800px;
        h2{
            background-color: #1551a1;
            color: white;
            text-align: center;
        }
        img {
            display: block;
            margin: auto;
            width: 100%;
        }
        .centar {
            text-align: center;
            color: white;
            border-bottom: 2px solid red;
            font-weight: bold;
            font-size: 1.5rem;
        }
        button {
            background-color: #1551a1;
            position: relative;
            font-size: 1.5rem;
            left: 25%;
            top: -10px;
            width: 50%;
            height: 50px;
            border-radius: 5px;
            color: white;
        }
        p {
            border: 1px solid black;
        }
    }
}

footer {
    background-color: #062348;
    .img {
        position: relative;
        left: 200px;
        top: 10px;
    }
    .p {
        width: 600px;
        position: relative;
        left: 40px;
        top: 20px;
        color: white;
    }
    .pp {
        position: relative;
        left: 850px;
        bottom: 80px;
        color: white;

    }
    .img2 {
        position: relative;
        left: 810px;
        bottom: 50px;
    }
}